// Colors

$colorNavP: #1c1c1c;
$colorNavS: #ececec;

// Color background
$background: white;

// Color letras
$colorBlack: rgb(0, 0, 0);
$colorGrey: rgb(100, 100, 100);

// Color backgourd footer
$fBackgound: rgb(40, 40, 40);
$fSusBackgound: rgb(80, 80, 80);

// Color letras footer
$fColor: rgb(200, 200, 200);