//Tipografías

// tipografía footer
$footerFont: 'MarkPro-Medium';

// tipografía header
$headerFont: 'roboto-bold';

// tipografía main index
$mainFont: Georgia, 'Times New Roman', Times, serif;